<div class="validation-info-wrapper pb-3">
  <div class="heading-detail p-2">
    <h2>Verifikácia dokumentu - informácie</h2>
  </div>
  <div *ngIf="report != null" class="container mt-2">

    <div class="row ">
      <div class="col-12 col-lg-6 border-left">
        <div class="row">
          <div class="col-4">Počet podpisov</div>
          <div class="col-8">{{report.signaturesCount}}</div>
        </div>
        <div class="row">
          <div class="col-4">Počet platných podpisov</div>
          <div class="col-8">{{report.validSignaturesCount}}</div>
        </div>
        <div class="row">
          <div class="col-4">Čas overenia</div>
          <div class="col-8">{{report.validationDate}}</div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="report == null" class="container mt-2">
    <div class="row">
      <div class="col-12 text-center mt-2" style="color: #bfbfbf">Nie je nahratý žiady dokument</div>
    </div>
  </div>
</div>

