<div class="file-documents">

  <div class="header">
    <h4 *ngIf="report?.containerName != null"><i class="far fa-file-alt"></i> {{report.containerName }}</h4>
  </div>

  <div class="container document-wrapper" [ngClass]=" {'d-flex align-items-center' : report?.originalDocuments == null } ">
    <div *ngIf="report?.originalDocuments != null" class="">
      <div class="document" *ngFor="let doc of report.originalDocuments">
          <a
            *ngIf="doc.name != ''"
            pTooltip="{{isSupportedFormat(doc.type) ? 'Otvoriť dokument v novom tabe': 'Formát sa nedá zobraziť v prehliadači'}}"
            showDelay="1000"
            (click)="openDocument(doc.base64Content, doc.type)"
            [ngClass]="{'undrln' : isSupportedFormat(doc.type)}"
          >
            {{doc.name}}
          </a>
          <i
            (click)="downloadFile(doc.base64Content, doc.type, doc.name)"
            class="pi pi-download clickable"
            pTooltip="Stiahnuť dokument"
            showDelay="1000"
            style="font-size: 14px"
          ></i>
      </div>
    </div>
    <div *ngIf="report == null" class="w-100" >
      <div class="row">
        <div class="col-12 text-center" style="color: #d7d7d7">Nahrajte svoj dokument</div>
      </div>
    </div>
  </div>
</div>
