<div class="file-documents">

  <div class="header">
    <h4 *ngIf="report?.containerName != null"><i class="far fa-file-alt"></i> {{report.containerName }}</h4>
  </div>

  <div class="container document-wrapper" [ngClass]=" {'d-flex align-items-center' : report?.originalDocuments == null } ">
    <div *ngIf="report?.originalDocuments != null" class="">
      <div class="document" *ngFor="let doc of report.originalDocuments">
          <a
            pTooltip="Otvoriť dokument v novom tabe"
            showDelay="1000"
            (click)="openDocument(doc.base64Content, doc.type)"
            [ngClass]="{'clickable' : isSupportedFormat(doc.type)}"
          >
            {{doc.name}} <i *ngIf="isSupportedFormat(doc.type)" class="fas fa-external-link-alt" style="font-size: 10px"></i>
          </a>
      </div>
    </div>
    <div *ngIf="report == null" class="w-100" >
      <div class="row">
        <div class="col-12 text-center" style="color: #d7d7d7">Nahrajte svoj dokument</div>
      </div>
    </div>
  </div>
</div>
