.file-documents {
  background-color: white;
  border: 2px solid #d7d7d7;
  border-radius: 3px;

  .header {
    background-color: #d7d7d7;
    padding: 1px 12px 3px 12px;

    display: flex;
    min-height: 26px;

    h4 {
      margin: 0;
      font-size: 1.15em;
    }
  }

  .doc-name {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .document-wrapper {
    min-height:  110px;
    max-height: 110px;
    overflow: auto;
  }
}


