<div class="file-detail-wrapper pb-3">
  <div class="heading-detail p-2">
    <h2>Dokument - informácie</h2>
  </div>
  <div class="container">
    <div class="row doc pt-2">
      <div class="col-12">
        <app-file-docs-overwiew></app-file-docs-overwiew>
      </div>
    </div>
    <div class="row">
      <div class="col-12 border-bottom mb-2 mt-1"></div>
    </div>

    <div class="container info-section">

      <div class="row">
        <div class="col-4">
          Názov
        </div>
        <div class="col-8">
          kontainer.asice
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          Veľkosť
        </div>
        <div class="col-8">
          192 kB
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          Druh obsahu
        </div>
        <div class="col-8">
          application/vnd.asi-e+zip
        </div>
      </div>
    </div>
  </div>
</div>
