.text-area {
  background-color: white;
  border: 1px solid #cbcbcb;
  border-radius: 1px;


  .label {
    background-image: linear-gradient(#b7b7b7, #ececec);
    padding: 2px 12px;
    font-weight: 500;
  }

  .list {
    max-height: 107px;
    overflow: auto;
  }

  .text {
    padding: 3px 12px;

    p {
      padding: 0;
      margin: 0;
      display: list-item;          /* This has to be "list-item"                                               */
      list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
      list-style-position: inside;
    }
  }
}

.glossy {
  background-color: #AAA;
  background-image: linear-gradient( /* chrome */
      hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
  );
}
