<div class="text-area">
  <div class="label" style="display: block">{{label || '?'}}</div>

  <div class="text" *ngIf="value == null">?</div>

  <div class="list" [ngClass]="{'single-line' : type == 'doc-scope' || type == 'cert-info'}" ngSwitch="{{type}}">

    <div class="text value" *ngSwitchCase="'text'" style="display: block">{{value}}</div>
    <div class="text value" *ngSwitchCase="'cert-info'" style="display: block">{{value}}</div>

    <div style="max-height: 107px;" *ngSwitchCase="'list'">
      <div class="text value" *ngFor="let text of value" style="display: block;"><p class="dot">{{text}}</p></div>
    </div>

    <div style="min-height: 118px; max-height: 118px;" *ngSwitchCase="'doc-scope'">
      <div class="text value" *ngFor="let item of value" >
        <div class="" style="display: block"><i class="far fa-file-alt"></i> {{item.name}}</div>
        <div class="" style="display: block"><p> - {{item.scope}}</p></div>
      </div>
    </div>
  </div>
</div>
