<div class="card ">
  <button (click)="hej()">Hej</button>
  <p-fileUpload styleClass="upload-no-buttons" name="demo[]" #fileUpload (uploadHandler)="upload($event)"
                (onRemove)="onRemoveMethod($event)" (onClear)="onRemoveMethod($event)"
                customUpload="true"
                accept=""  cancelLabel="Zrušiť"
                uploadLabel="Odošli dokument" chooseLabel="Vyrať" >
    <ng-template pTemplate="content" >
        <!--<ul *ngIf="uploadedFiles.length">
          <li class="hej" *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes {{uploadedFiles.length}}</li>
        </ul>-->
    </ng-template>
  </p-fileUpload>

</div>
