<div class="section container p-0">
  <div class="row">
    <div class="col-12">
      <div class="btn-header">
        <button class="btn btn-secondary" (click)="chooseFile()">
          <span class="pi pi-plus p-button-icon p-button-icon-left" style="margin-right: 2px"></span>
          Vybrať
        </button>
        <button class="btn btn-secondary" [disabled]="uploadedFiles.length == 0" (click)="fileUpload.upload()">
          <span class="pi pi-upload p-button-icon p-button-icon-left" style="margin-right: 2px"></span>
          Odošli dokument
        </button>
        <button class="btn btn-secondary" [disabled]="uploadedFiles.length == 0" (click)="fileUpload.clear()">
          <span class="pi pi-times p-button-icon p-button-icon-left" style="margin-right: 2px"></span>
          Zrušiť
        </button>

        <div class="spinner" *ngIf="isLoading"><app-loading></app-loading></div>
      </div>
    </div>
  </div>

  <div class="row">
    <p-fileUpload styleClass="upload-no-buttons" name="file-upl" #fileUpload
                  (uploadHandler)="upload($event)"
                  (onRemove)="onRemoveMethod($event)"
                  (onClear)="onRemoveMethod($event)"
                  (onSelect)="addFile($event)"
                  customUpload="true"
                  accept="" >
      <ng-template pTemplate="content" >
        <div *ngIf="uploadedFiles.length">
          <div class="document-row" style="display: block" *ngFor="let file of uploadedFiles">
            <i class="far fa-file-archive"></i>
            <h4 class="file-info">{{file.name}} - {{file.size}} bytes</h4>
            <button class="btn btn-small" style="background: #5C4739; color: white" (click)="fileUpload.clear()"><span class="pi pi-times p-button-icon p-button-icon-center"></span></button>
          </div>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>

</div>
