 .section {
   max-height: 100%;
   max-width:  100%;

   .hej {
     align-self: stretch;
   }

   .btn-header {
     border: 2px solid #5C4739!important;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     background: #f8f9fa;
     position: relative;

     min-height: 76px;
     padding: 16px;

     .spinner {
       position: absolute;
       top: 50%;
       right: 25px;
       transform: translateY(-50%);
     }

     .btn {
       display: inline-block;
       background-color: #5C4739;
       border: #5C4739;
       min-height: 42px;
       margin-right: 7px;

       &:hover {
         background-color: #4c3b32;
         border: #5C4739;
       }
     }
   }

   .file-section {
     min-height: 283px;
     border: 2px dashed #5C4739;
     border-top: 0 none;
     border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px;
   }
 }

 .document-row {
   background-color: #eae2dd;
   border: 0;
   border-radius: 4px;
   min-height: 60px;

   .far {
     font-size: 30px;
   }

   .file-info {
     margin: 0;
   }

   .btn {
     background: #5C4739;
     color: white;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;

     &:hover {
       background-color: #4c3b32;
       border: #5C4739;
     }
   }
 }


 @media (max-width: 500px) {
   .section{
     .btn-header {
       padding: 16px 20px;

       .spinner {
         position: relative;
         transform: translateY(-0%);
         top: 5px;
         right: 0px;
       }

       .btn {
         display: block;
         margin-right: 0;
         margin-bottom: 5px;
         width: 100%;
       }
     }
   }
 }
