.content-wrapper {
  background-color: white;
  min-height: 94vh;

  .m {
    background-color: red;
  }

  .r {
    background-color: aquamarine;
  }

  .btn-secondary {
    background-color: #5C4739;
  }
}

.top-section {
  .top-image {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,0,1)), url('https://images.pexels.com/photos/158826/structure-light-led-movement-158826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-color: #f9f9f9;
    opacity: 0.85;
    height: 30vh;
  }
}
