<div class="top-section">
  <div class="top-image">
    <div class="container h-100">
      <div class="col-12 h-100 d-flex align-items-center p-4 ">
        <h1 class="" style="color: white">Rozlož si svoj podpisový kontajner pohodlne...</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content-wrapper py-4">
    <div class="row">
      <div class="col-12">
        <p-messages enableService="true" key="success"></p-messages>
        <p-messages enableService="true" key="info"></p-messages>
        <p-messages enableService="true" key="warn"></p-messages>
        <p-messages enableService="true" key="error"></p-messages>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7 ">
        <app-upload-file class="w-100"></app-upload-file>
      </div>
      <div class="col-12 col-lg-5 mt-4 mt-lg-0">
        <app-file-details></app-file-details>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <app-verification-info></app-verification-info>
      </div>
    </div>
  </div>
</div>
