.content-wrapper {
  background-color: white;
  min-height: 94vh;

  .m {
    background-color: red;
  }

  .r {
    background-color: aquamarine;
  }

  .btn-secondary {
    background-color: #5C4739;
  }
}

.top-section {
  min-height: 30vh;
  background-color: #f9f9f9;
}
